body {
    margin: 0;
    font-family: 'Inter';
}

header {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
    position: fixed;
    width: calc(100% - 232px);
    height: 89px;
    left: 232px;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.logoutContainer {
    position: fixed;
    top: 89px;
    left: auto;
    right: 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    background: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0px 20px 20px;
    z-index: 52;
    color: black;
}

.logoutButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 53px;
    cursor: pointer;
}

.logoutHoverButton:hover {
    background: #f00021;
    color: white;
    border-radius: 0px 0px 20px 20px;
}

.helpButton:hover {
    border-radius: 20px 0px 0px 0px;
    background: #f00021;
    color: white;
}

.legalButton:hover {
    background: #f00021;
    color: white;
}

.logoutButton span {
    font-size: 16px;
}

.dp-none {
    display: none;
}

.logoHeader {
    display: none;
}

.kanban-headline {
    margin-left: 116px;
    font-size: 21px;
}

.headerProfileAndQuestion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 26px;
    margin-right: 33px;
}

.profileImage {
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
}

nav {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 103px;
    position: fixed;
    width: 232px;
    height: 100vh;
    background: #f00020;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

.navbar-logo {
    margin-top: 66px;
    cursor: pointer;
}

.navbar-fields {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.navbar-fields a {
    text-decoration: none;
}

.navbarRows {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 232px;
    height: 46px;
}

.navbarRows img {
    margin-left: 53px;
    display: flex;
    align-items: center;
}

.navbarRows span {
    width: auto;
    height: 19px;
    font-size: 16px;
    line-height: 120%;
    color: black;
}

.navbarRows:hover {
    color: white;
}

.navbar-fields a:hover {
    background: white;
    color: white;
}

.legalNoticeContainerNav {
    cursor: pointer;
    bottom: 112px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 232px;
    height: 46px;
    color: black;
    padding-left: auto;
    padding-right: auto;
}

.legalNoticeContainerNav:hover {
    background: #FFFFFF;
    color: black;
}

.legalNoticeContainerNav img {
    display: flex;
    align-items: center;
}

@media(max-width: 1000px) {
    .kanban-headline {
        margin-left: 50px;
    }
}

@media(max-width: 900px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        gap: 10px;
        right: 0;
        position: fixed;
        width: 100%;
        height: 80px;
        left: 0px;
        top: calc(100vh - 80px);
        padding: 0;
        background: #f00020;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 0px;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
        width: 100%;
        height: 79.02px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }

    .logoutContainer {
        top: 79.02px;
        right: 25px;
    }

    .contactsContainer {
        top: 79.02px;
    }

    .kanban-headline {
        display: none;

    }

    .questionmarkHeader {
        display: none;
    }

    .headerProfileAndQuestion {
        width: auto;
        margin-right: 25px;
    }

    .logoHeader {
        display: block;
        margin-left: 25px;
        cursor: pointer;
    }

    .legalNoticeContainerNav {
        display: none;
    }

    .navbar-logo {
        display: none;
    }

    .navbar-fields {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }

    .navbarRows {
        width: auto;
        height: 80px;
        padding: 0 10px;
    }

    .navbarRows img {
        margin-left: 0;
    }

    .navbarRows span {
        width: auto;
    }
}

@media(max-width: 700px) {
    .navbarRows {
        gap: 10px;
    }
}

@media(max-width: 550px) {
    .navbarRows {
        flex-direction: column;
        height: 80px;
        justify-content: center;
    }
}

@media(max-width: 370px) {
    .navbarRows {
        padding: 0 4px;
    }
}